.video-container{
    height: 80vh;
    overflow: scroll;
    /* scroll-snap-type: y mandatory; */
    scrollbar-width: none;

    
}
.video-container::-webkit-scrollbar{
    display: none;
}
.video{
    position: relative;
}
.fa{
    position: absolute;
    bottom: 4rem;
    margin-left: 11px;
    display: flex;
    align-items: center;
    color: white;

}
.icon-styling{
    position: relative;
    bottom: 27px;
    left: 3rem;
    color: white;
}
.video-modal{
    width: 50%;
}
.comment-modal{
    width: 50%;
}

.card1{
    height: 69vh;
}

